:root {
    --primaria: #2B8997;
    --background: #F4F9F8;
    --brancoAcizentado: #FAFAFA;
    --subtexto: #323D4C;
    --titulo: #212327;
}

body{
    background-color: var(--brancoAcizentado);
    margin: 0;
}

/*INICIO NAVBAR */

.navbar {
    width: 100%;
    height: 60px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    gap: 50%;
    align-items: center;

    .navlink {
        width: 60px;
        gap: 20%;
        display: flex;
        align-items: center;
    }

     .logo {
        height: 40px;
        display: flex;
        align-items: center;
        img {
            height: 42px;
            margin-right: 25px;
            width: auto;
        }
     }

    a{
        margin-top: 11%;
        text-decoration: none;
        color:var(--primaria);
        text-align: end;
        font-weight:  bold;
        margin-right: 20%;
    }

    .forms {
        display: flex;
        gap: 12%;
        
        .vazado {
            color: var(--primaria); 
            font-weight: 700;
            border-radius: 10px;
            border: 1px solid var(--primaria);
            background-color: var(--background);
            padding: 5px 50px;
            
        }
        .preenchido {
            color: white;
            font-weight: 700;  
            background-color: var(--primaria);
            border: 1px solid var(--primaria);
            border-radius: 10px;
            padding: 10px 30px;
            white-space: nowrap;
         }
    }
    } 

/* INICIO BANNER */

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-left: 5px;
    padding-bottom: 8px;
}
.container-banner{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
.container-banner span{
    color: var(--primaria);
}
.container-banner p{
    color: var(--subtexto);
}

.banner img{
    width: 450px;
    height: 250px;
}

/* INICIO BENEFICIOS */ 

.beneficios h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primaria);

}

.container-beneficios{
    padding-top: 2%;
    padding-bottom: 4%;
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 120px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0;
    font-size: 15px;
    box-shadow: 0 2px 1px var(--primaria);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--subtexto);
    width: 150px;
    height: 150px;
}
.box img{
    margin-bottom: 15px;
}

/* INICIO SERVICO */

.boxes-servico{
    margin-left: 240px;
    margin-right: 240px;
    background-color: #A4E2EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.box-servico{
    background-color: rgba(43, 137, 151, 0.15);
    padding-left: 15px;
    width: 600px;
    border-radius: 0 100px 100px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.box-servico h1{
    color: var(--primaria);
}
.box-servico p{
    color: #0C464E;
    font-size: 13px;
    font-weight: bold;
}
.box-button{
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;

}
.box-button button{
    color: white;
    font-weight: 700;
    font-size: 30px;
    background-color: var(--primaria);
    border: 1px solid var(--primaria);
    border-radius: 10px;
    padding: 10px 30px;
    white-space: nowrap;
    align-items: center;
}

/* INICIO COMO ACONTECE? */

.acontece h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primaria);
    margin: 50px;
}

.container-acontece{
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}

#seta{
    padding: 20px;
    box-shadow: 2px -2px 0 1px #2B8997 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(225deg);
    
}

.boxes-acontece{
    margin-left: 105px;
    margin-right: 145px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--subtexto);
    
}
.box-acontece{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 1px var(--primaria);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--subtexto);
    width: 150px; /* ou 30% */
    height: 150px;
}

.box-acontece img{
    margin-bottom: 15px;
}

.box-acontece h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* INICIO CONTATO */

.contato{
    margin-bottom: 2%;
}
.contato h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaria);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}
.container-contato{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo img{
    width: 450px;
    height: auto;
}

.contato-form{
    background-color: white;
    padding: 30px;
    border: 1px solid white;
    border-radius: 10px;
}
.contato-form form{
    display: flex;
    flex-direction: column;
    color: var(--primaria);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

form input{
    width: 500px;
    height: auto;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid rgba(151, 153, 155, 0.336);
    transition: 0.3s;
}
form textarea{
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgba(151, 153, 155, 0.336);
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
    font-size: 13px;
}

/* INICIO FOOTER */ 

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -1px 1px var(--primaria);
    width: 100%;   
}

.img-footer img{
    width: 150px;
    height: auto;
}

.redes-footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.redes-footer img{
    width: 40px;
    height: auto;
}

.direitos-footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.contatos-footer{
    font-family: Arial, Helvetica, sans-serif;
}
.contatos-footer h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


