:root {
    --primaria: #2B8997;
    --background: #F4F9F8;
    --brancoAcizentado: #918f8f;
    --backgroundLogin: #D5D5D5;
    --subtexto: #323D4C;
    --titulo: #212327;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--backgroundLogin);
    margin: 0px;
    padding: 0px;
    color: var(--primaria);
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tela{
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    width: 55%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.157);

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 35px;
   gap: 18px;

}

.form img{
    margin-bottom: 15px;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.entrar{
    text-decoration: none;
    color: var(--primaria);
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--primaria);
    border: 1px solid var(--primaria);
    border-radius: 10px;
    width: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    cursor: pointer;
}

.logo{
    width: 150px;
    display: flex;
    padding-bottom: 10px;
}

span{
    font-weight: bold;
    color: #033C45;
    font-size: 15px;
}

p{
    font-size: 15px;
}

input{
   border: 1px solid var(--brancoAcizentado);
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.301);
    width: 300px;
    height: 28px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px; 
    color: #033C45;
    height: 35px;
    margin-top: 4px;
}

input::placeholder{
    padding-left: 5px;
    font-size: 10px;
    font-weight: bold;
    color: var(--brancoAcizentado);
}

.banner{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaria);
    border-radius: 10px;
    height: 100%;
   
}
.banner img{
    border-radius: 10px;
    width: 430px;
}


