/* TAGS DE CORES DA PÁGINA */
:root {
    --primaria: rgb(43, 136, 150);
    --secundaria: rgb(233, 244, 245);
    --background: #F4F9F8;
    --brancoAcizentado: #FAFAFA;
    --subtexto: #323d4cdd;
    --titulo: #323D4C;
}

*{
    margin: 0px; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px
}

body {
    background-color: var(--background);
}

/* NAVBAR - INICIO -------------------------------------------------------------------- */
.navbar {
    width: 100%;
    height: 60px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    gap: 50%;
    align-items: center;

    .navlink {
        width: 60px;
        gap: 20%;
        display: flex;
        align-items: center;
    }

     .logo {
        height: 40px;
        display: flex;
        align-items: center;
        img {
            height: 42px;
            margin-right: 25px;
            width: auto;
        }
     }

    a{
        margin-top: 11%;
        text-decoration: none;
        color:var(--primaria);
        text-align: end;
        font-weight:  bold;
        margin-right: 20%;
    }

    .forms {
        display: flex;
        gap: 12%;
    
        
        .vazado {
            cursor: pointer;
            color: var(--primaria); 
            font-weight: 700;
            border-radius: 10px;
            border: 1px solid var(--primaria);
            background-color: var(--background);
            padding: 5px 50px;
            
        } .vazado button:active{
           transform: scale(1.01);
        }

        .preenchido {
            color: white;
            font-weight: 700;  
            background-color: var(--primaria);
            border: 1px solid var(--primaria);
            border-radius: 10px;
            padding: 10px 30px;
            white-space: nowrap;
            
        } .preenchido button:active{
            transform: scale(1.01);
        }
        .preenchido a{
            color: white;
         }
    }
} 
/* NAVBAR - FIM -------------------------------------------------------------------- */

/* CONTAINER - CONTEUDO: INICIO -------------------------------------------------------------------- */
.container_conteudo {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    padding: 2rem 0rem 0rem 4rem;
    
    
    .titulo { /* Simulador Financeiro de Criação de Tilápias */
        color: var(--primaria);
        font-weight: bold;
        display:flex;
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    input { /* style padrao das inputs */
        border-radius: 5px;
        box-sizing: border-box;
        border: none;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.555);
        outline:none; 
        height: 3.6vh;
        width: 45vh;
        padding: 10px;
    }

    }
    .container_entrada { /* Página Inteira */
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 87rem;
        height: 70vh;
        
        .container_input_calcular_shadow { /* Sombra da Calculadora: Parte 1 */
            background-color: white;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            display: flex;
            width: 60%;
            height: 100%;
    
            .container_input {
                background-color: white;
                box-shadow: 10px -1px 10px 0px rgba(0, 0, 0, 0.171);
                border-radius: 10px 0px 0px 10px;
                width: 50%;
                height: 100%;
                
            
                .subtitulo { /* Informações Financeiras */
                    color:var(--titulo);
                    font-weight: bold;
                    display: flex;
                    padding: 1.5rem 0rem 1rem 2.5rem;
                    font-size: 1.3rem;
                }

                .input_div {
                    color: var(--subtexto);
                    font-weight: bold;
                    font-size: 1.9vh;
                    padding-left: 39px;
                    padding-bottom: 9px;
                    
                }

    }
            .container_input_calcular {
                border-radius: 20px 10px 10px 20px;
                width: 48%;
                margin-left: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2px;
                    

                .subtitulo_calcular { /* Informações Sobre o Tanque */
                color:var(--titulo);
                font-weight: bold;
                font-size: 1.1rem;
                padding-bottom: 4px;
            }


                .input_div {
                    color: var(--subtexto);
                    font-weight: bold;
                    font-size: 1.9vh;
                    padding-bottom: 9px;   
            }

            .botao_preeenchido {
                background-color: var(--primaria);
                color: white;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45vh;
                height: 3.6vh;
                
                align-items: center;
                border: none;
                border-radius: 5px;
            }
    }

}
        .container_conteudoResultado {  /* CALCULAR -> RESULTADO - PREJUIZOS */
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.079);
            border-radius: 10px;
            margin-left: 60px;
            width: 35%;
            flex: none;
            
            .container_prejuizo { /* Prejuízo - PARTE SUPERIOR*/
                background-color: var(--secundaria);
                border-radius: 10px 10px 0px 0px;
                height: 30vh;
                width: 100%;
                flex: none;
                
                .prejuizo {
                    flex: none;
                    padding-left: 40px;
                    
                    .titulo_prejuizo { /* Prejuízo */
                        display: flex;
                        padding-top: 110px;
                        padding-bottom: 3px;
                        
                        font-weight: bold;
                        font-size: 20px;
                        color:var(--titulo)
                    }

                    .subtitulo_prejuizo { /* Prejuízo Total */
                        font-weight: bold;
                        color:var(--titulo);
                        font-size: 15px;
                    }

                    .valor_titulo {
                        color:var(--titulo);
                        font-size: 35px;
                    }
                }
              }  
              
              .container_prejuizo_info { /* TIPOS DE PREJUIZOS - PARTE INFERIOR */
                background-color: var(--primaria);
                border-radius: 0px 0px 10px 10px;
                width: 100%;
                height: 57%;
            
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                
                
                .resultado {
                    margin-left: 18px;
                    margin-top: 15px;
                    color:white;

                    .subtexto {
                        color:rgba(255, 255, 255, 0.9);
                        font-size: 14px ;
                    }

                    .subvalor {
                        font-size: 25px;
                    }
                }
                
              }
        }

}
/* CONTAINER - CONTEUDO: FIM -------------------------------------------------------------------- */

/* CONTAINER - RELATÓRIOS: INICIO -------------------------------------------------------------------- */
    
.container_relatorios {
    width: 95%;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .relatorios {
        background-color: white;
            display: flex;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.219);
            display: flex;
            width: 225px;
            height: 250px;
            flex-direction: column;
            

            .titulo1 {
                color:var(--primaria);
                font-weight: bold;
                padding-top: 10px;
                display: flex;
                justify-content: center;
            }

            .titulo2 {
                color: var(--titulo);
                display: flex;
                font-weight: bold;
                font-size: 16px;
                padding-top: 12px;
                text-align: center;
            }

             .valor_relatorio {
                color: var(--primaria);
                font-size: 25px;
                font-weight: bold;
                padding-top: 8px;
                padding-bottom: 30px;
                text-align: center;
             }

              .painel {
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.334);
                border-radius: 10px;
                margin-left: 10px;
                margin-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                font-size: 12px;
                color:var(--subtexto);
                font-weight: bold;
                justify-content: start;
                line-height: 20px;
              }
       
    }
}