:root {
    --primaria: #2B8997;
    --secundaria: rgb(233, 244, 245);
    --background: #F4F9F8;
    --brancoAcizentado: #FAFAFA;
    --subtexto: #323D4C;
    --titulo: #212327;
}

body{
    background-color: var(--brancoAcizentado);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    all: unset;
}


/* NAVBAR */

.navbar {
    width: 100%;
    height: 60px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    gap: 58%;
    align-items: center;

    .navlink {
        width: 60px;
        gap: 20%;
        display: flex;
        align-items: center;
       
    }

     .logo {
        height: 40px;
        display: flex;
        align-items: center;
        img {
            height: 42px;
            margin-right: 25px;
            width: auto;
        }
     }

    a{
        margin-top: 11%;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color:var(--primaria);
        text-align: end;
        font-weight:  bold;
        margin-right: 20%;
        cursor: pointer;
    }

    .forms {
        display: flex;
        gap: 12%;
        
        .vazado {
            color: var(--primaria); 
            font-weight: 700;
            border-radius: 10px;
            border: 1px solid var(--primaria);
            background-color: var(--background);
            width: 6vw;
            cursor: pointer;
        }
        .preenchido {
            color: white;
            font-weight: 700;  
            background-color: var(--primaria);
            border: 1px solid var(--primaria);
            border-radius: 10px;
            padding: 10px 20px;
            width: 10vw;
            white-space: nowrap;
            cursor: pointer;
         }
         .preenchido a{
            color: white;
         }

         .forms a {
            cursor: pointer;
         }
    }
    } 

/* titulo */ 

.container-titulo {
    background-color: var(--secundaria);
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.titulo {
    color: var(--titulo);
    font-size: 2rem;
    font-weight: bold;
}

.subtitulo {
    color: var(--primaria);
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 1vh;
}

/* formulário*/

.container-formulario {
    background-color: var(--primaria);
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: white;
    width: 40%;
    height: 70vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.378);
}

.formulario .titulo {
    color: var(--titulo);
    font-size: 1.2rem;
}

.formulario input {
    width: 75%;
    height: 4vh;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.378);
    margin-top: 2vh;
    outline: none;
    border-radius: 10px;
    padding: 5px;
}

.formulario button {
    border: none;
    background-color: var(--primaria);
    color: white;
    width: 7vw;
    height: 4vh;
    border-radius: 10px;
    margin-top: 5vh;
    transition: all 0.3s ease;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #1e6772;
}

.formulario img {
    width: 12vw;
    height: auto;
    margin-bottom: 5vh;
}

.painel {
    background-color: white;
    width: 25%;
    height: 70vh;
    margin-left: 2vw;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.378);
    border-radius: 10px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.border {
    border: 1px solid rgb(179, 178, 178);
    height: 60vh;
    width: 23vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y:auto ;
    overflow-x: hidden;
    margin-top: 1vh;
    position: relative;
}

.painel .titulo {
    font-size: 1.2rem;
    margin-bottom: 1vh;
}

.painel a {
    color: var(--primaria);
    font-size: 0.7rem;
    position: absolute;
    left: 85%;
    cursor: pointer;
    background-image: url(../assets/Usuário/configuracao\ \(2\).png);
    background-repeat: no-repeat;
    width: 2vw;
    height: 2vw;
    margin-top: -2.5vh;
}

.cardsTanque {
    background-color: var(--secundaria);
    width: 21vw;
    height: 8vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 1vh;
    border-left: 3px solid var(--primaria) ;
}

.cardsTanque span {
    font-size: 0.8rem;
}

/* cards */
.container-cards {
    background-color: var(--background);
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.cards {
    margin-top: 5vh;
    background-color: white;
    height: 20vh;
    width: 15vw;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    border: 2px solid transparent; 
    padding: 0;
    cursor: pointer;
}

.cards .titulo {
    text-align: center;
    font-size: 1rem;
    color: #BABABA;
    width: 7vw;
    height: 5vh;
    margin-top: 1vh;
}

.cards .icon {
    width: 5vw;
    height: auto;
}

.cards:hover {
    border: 2px solid var(--primaria);
    transform: scale(1.1);
    color: var(--primaria);
}

.cards:hover .titulo {
    color: var(--titulo);
}

.cards:hover + .descricao {
    display: flex;
}

.descricao {
    position: absolute;
    top: 147%;
    height: 18vh;
    width: 50vw;
    text-align: center;
    flex-direction: column;
    background-color: var(--secundaria);
    font-size: 1.1rem;
    border: 1px solid var(--primaria);
    border-radius: 10px;
    color: var(--subtexto);
    
    display: none;
}

    /* INICIO FOOTER */ 

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -1px 1px var(--primaria);
    width: 100%;
}

.icons-footer{
    margin-left: 2vw;
}

.img-footer img{
    width: 120px;
    height: auto;
}

.redes-footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.redes-footer img{
    width: 30px;
    height: auto;
}

.direitos-footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}
.contatos-footer{
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
    font-size: 0.8rem;
}
.contatos-footer h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.mensagem {
    font-size: 0.8rem;
    position: absolute;
    top: 100%;
}

#div_mensagem {
    transition: opacity 0.3s;
}

